<!doctype html>

<!--[if IE 9 ]><html class="no-js ie ie9" lang="pt-BR"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="pt-BR"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{description}}">
        <meta http-equiv="cleartype" content="on">

        <title>{{title}}</title>

        <!-- build:css(.tmp) assets/css/main.css -->
        <!-- bower:css --><!-- endbower -->

        <link rel="stylesheet" href="assets/css/main.css">
        <!-- endbuild --><% if (addModernizr) { %>

        <!-- build:js(.tmp) assets/js/modernizr.js -->
        <script src="assets/bower/modernizr/modernizr.js"></script>
        <!-- endbuild --><% } %>
    </head>

    <body>
        <div class="container">
            <header class="main-header">

            </header>

            {{> body }}

            <footer class="main-footer">

            </footer>
        </div>

        <!-- Site Scripts -->
        <!-- build:js assets/js/main.js -->
        <!-- bower:js --><!-- endbower -->

        <script src="assets/js/main.js"></script>
        <!-- endbuild -->

        {{#if page.scripts}}
            <!-- build:js assets/js/{{page.slug}}.js -->
                {{#each page.scripts}}
                    <script src="assets/js/{{this}}"></script>
                {{/each}}
            <!-- endbuild -->
        {{/if}}
    </body>
</html>
