[class^="icon-"],
[class*=" icon-"] {
    width: auto;
    height: auto;
    padding: 0;
    margin-top: 0;
    display: inline-block;
    .ir;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% auto;
    line-height: normal;
    vertical-align: baseline;
}
